name: Build MacOS

on:
  push:
    branches: [ "main", "mac-dev" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build MacOS Bundle
      run: |
        chmod +x build_macos.sh
        ./build_macos.sh

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: GifCap-MacOS
        path: dist/*.zip
